APP_ENV="local"
AES_KEY=""
APP_URL="http://127.0.0.1:8787"
BREVO_API_KEY=""
DNSPOD_API_ID=""
DNSPOD_API_TOKEN=""
DNSPOD_DOMAIN_ID=""
EPUSDT_API_KEY=""
EPUSDT_API_URL=""
MAIL_SENDER_ADDRESS=""
MAIL_SENDER_NAME=""
RECAPTCHA_SECRET_KEY=""
RECAPTCHA_SITE_KEY=""