%%HEADER%%

<form method="POST" action="/auth/login/auth-factor" onsubmit="return window.doLogin(this);">
    <input type="hidden" name="g-recaptcha-response" id="login_form_hidden_cf_response" value="">

    <span class="d-block hurricane-regular mb-4" style="font-size: 32px; font-weight: bold;">Com.Mp</span>
    <h1 class="h3 mb-3 fw-normal">Enter MFA code</h1>

    <div class="form-floating">
        <input type="email" name="email" class="form-control rounded-bottom-0" id="emailInput" value="%%EMAIL%%" readonly disabled>
        <label for="emailInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="number" name="token" class="form-control rounded-0" id="mfaField" placeholder="" maxlength="6">
        <label for="mfaField">MFA code</label>
        <a href="/auth/reset" style="position: absolute; z-index: 3; right: 0; margin-top: -37px; margin-right: 15px; font-size: 12px; cursor: pointer;" class="">Recovery MFA?</a>
    </div>

    <button type="submit" class="btn btn-primary btn-lg rounded-top-0 py-2 rounded-top-0 w-100" id="btnSubmit">Sign in</button>
    <p class="mt-5 mb-3 text-body-secondary">© 2024</p>
</form>

%%FOOTER%%

%%RECAPTCHA%%
<script>
    var tk = $('#mfaField');
    tk.focus();

    window.doLogin = function (form) {
        $('#btnSubmit').innerHTML = 'Pending...';
        $('#btnSubmit').setAttribute('disabled', true);

        window.captchaChallenge('login', function (challengeResponse, modalCaptcha) {
            $('#login_form_hidden_cf_response').value = challengeResponse;
            $('#btnSubmit').innerHTML = 'Pending...';
            $('#btnSubmit').setAttribute('disabled', true);
            fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify({
                    email: form.elements['email'].value,
                    token: form.elements['token'].value,
                    'g-recaptcha-response': form.elements['g-recaptcha-response'].value,
                }),
            }).then(function (res) {
                return res.json()
            }).then(function (json) {
                modalCaptcha.hide();
                if (json.success) {
                    location.href = '/dashboard';
                    $('#btnSubmit').innerHTML = 'Login Successfully...';
                    return;
                }

                var popover = new bootstrap.Popover(tk, {
                    toggle: "popover",
                    title: "Error",
                    content: json.message,
                    trigger: "custom",
                    placement: window.innerWidth < 850 ? 'top' : "right",
                    html: true,
                });
                setTimeout(function () {
                    if (json.message == 'MFA code is invalid') {
                        tk.value = '';
                    }
                    tk.focus();
                    popover.show();
                }, 300);

                $('#btnSubmit').innerHTML = 'Sign in';
                $('#btnSubmit').removeAttribute('disabled');
            }).catch(function () {
                $('#btnSubmit').innerHTML = 'Sign in';
                $('#btnSubmit').removeAttribute('disabled');
            });
        }, function () {
            modalCaptcha.hide();
            $('#btnSubmit').innerHTML = 'Sign in';
            $('#btnSubmit').removeAttribute('disabled');
        });
        return false;
    };
</script>
