
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-body-secondary">© <span id="cur-year">2025</span> the <span class="hurricane-regular">Com.Mp REGISTRY</span>.</small>
            <small class="d-block mb-3 text-body-secondary">World's first Serverless &amp; Opensource Registry!</small>
            <small class="d-block mb-3 text-body-secondary">
                <a href="https://github.com/serverless-domain-registry/registry">Github</a>
            </small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Support &amp; Feedback</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a href="/dashboard/support-ticket" class="link-secondary text-decoration-none" href="#">Submit a Ticket</a></li>
                <li class="mb-1"><a href="/support/report-abuse" class="link-secondary text-decoration-none" href="#">Report Abuse</a></li>
                <li class="mb-1"><a href="/resources/registrars" class="link-secondary text-decoration-none" href="#">Licensed Registrars</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a href="/whois-lookup" class="link-secondary text-decoration-none" href="#">WHOIS Lookup</a></li>
                <li class="mb-1"><a href="/resources/term-of-service" class="link-secondary text-decoration-none" href="#">Term of Service</a></li>
                <li class="mb-1"><a href="/resources/privacy" class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a href="/resources/use-cases" class="link-secondary text-decoration-none" href="#">Use Cases</a></li>
                <li class="mb-1"><a href="/resources/news" class="link-secondary text-decoration-none" href="#">News &amp; Press</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.querySelector('#cur-year').innerHTML = (new Date).getFullYear();
</script>
</body>

</html>