%%HEADER%%
<main>
<h1>Legal Information</h1>
<p>
    Our Terms of Service have been written in order to protect our clients and ourselves to ensure we deliver a stable,
    reliable product and quality network. We ask that you read our policies so that you can assist us in keeping our
    servers and network free of abuse, which will ensure quality performance for everyone.
</p>
<p>
    When you sign up for any of our services, you are agreeing to our terms of service. Although we will do our best to
    work with our customers in the event of a breach of policy and abusively taking advantage of our services in any
    form, we will also take a firm line when necessary to protect our company, our other customers, and network.
</p>
<p>
    Clients of [Com.mp Registry], including but not limited to Resellers, Dedicated Server Clients, Shared
    Hosting Clients, and Domain Registration Clients, are required to agree and conform to the following terms of
    service (TOS) and acceptable use policies. Violations of these policies may result in loss of service and/or other
    disciplinary action.
</p>
<br>
<h2>Reasonable Control</h2>
<p>
    We are not responsible for any delay in performing or failure to perform any obligation to you as a result of any
    matter beyond our reasonable control.
</p>
<br>
<h2>Domain Name</h2>
<p>
    <strong>Generally.</strong> If requested by You, [Com.mp Registry] will, as agent for You, apply for the
    domain name as requested by You ("Requested Domain Name").
</p>
<p>
    <strong>Domain registration.</strong> If You choose to register a domain name(s) through [Com.mp Registry], You
    acknowledge and agree that:
</p>
<ul>
    <li>You will pay the correct registration fee(s) to register the domain name(s) with the applicable domain name
        registrar.</li>
    <li>During the order process of domain registration, [Com.mp Registry] may not be able to determine if
        the domain is classified as a "Premium Domain." </li>
    <li>The prices indicated or displayed in the website are for the Standard Domains or Non-premium Domains.</li>
    <li>
        Should you have ordered a Premium Domain, [Com.mp Registry] will communicate with You immediately to
        choose one option stated below to settle the transaction:
        <br>1. You will pay for the difference between the paid amount and the correct price of the domain.
        <br>2. You will change the ordered domain name.
        <br>3. You will cancel the order and the amount will be refunded.
        <br>[Com.mp Registry] has the right to cancel the order if You are not able to make a decision
        within the business day.
    </li>
    <li>
        Domain Registration does not offer refund(s) for domain name registration(s) for any reason, including
        misspelling of the domain name.
    </li>
</ul>
<p>
    <strong>Domain Terms.</strong> By registering a domain name(s) through [Com.mp] Registry, You
    acknowledge and agree to the terms and conditions of the respective domain registry.
</p>
<p>
    <strong>None Guaranteed Domain Registration.</strong> [Com.mp Registry] does not guarantee that it will
    be successful in its application for the Requested Domain Name.
</p>
<p>
    <strong>Domain Expiration.</strong> Your Domain Name will become expired and may cause Your web site to become
    inaccessible on and after the expiry date if the Domain Name is not renewed on or before the expiry date. You shall
    renew the domain name at Your own cost and expense. In the event You failed to renew the domain name and caused the
    domain name to be expired or not being able to renew, You shall not make any claim or compensation from [Com.mp
    Registry].
</p>
<p>
    <strong>Domain Redemption Period</strong> is an extra grace period hold by the registrar. It is imposed by the
    Registry and was instigated by ICANN in order to allow You a little more time to renew their domain name(s). To
    renew a Domain Name that falls under Domain Redemption Period, a Domain Redemption Fee may apply.
</p>
<p>
    <strong>None Guaranteed Renewal.</strong> [Com.mp Registry] does not guarantee that it will be
    successful in its application for the Requested Domain Name Renewal of Domain Name that is expired or falls under
    Domain Redemption Period. Domain Redemption Period.
</p>
<br>
<h2>Privacy Policy</h2>
<p>
    Because protecting your privacy is very important to [Com.mp] Registry, we operate our web site under
    the following guidelines to safeguard your personally identifiable information:
</p>
<p>
    [Com.mp Registry] policies and procedures for handling customer information have been created with the
    understanding that Internet technologies are still evolving and that Internet business methods are continuing to
    evolve to meet the needs and opportunities of the changing technologies. As a result, [Com.mp Registry
    ] policies and procedures are subject to change.
</p>
<br>
<h2>How does [Com.mp Registry] collect information from you?</h2>
<p>
    [Com.mp Registry] collects information from you when you send it to [Com.mp Registry
    ] directly by filling out forms on [Com.mp Registry] Website (including any application you may make for
    Services or the Software), corresponding with [Com.mp Registry] by e-mail, writing to [Com.mp Registry] by post, or
    speaking to [Com.mp Registry] by telephone. [Com.mp Registry] also collects information from you when you browse the
    Website and use the Software, as set out in detail
    below. Some of the methods [Com.mp Registry] uses to collect data are automated and will take effect
    automatically as you navigate the Website and/or use the Software.
</p>
<br>
<h2>What information does [Com.mp Registry] collect?</h2>
<h4>Personal Information.</h4>
<p>
    Personal information means any information relating to an identified or identifiable natural person; an identifiable
    natural person is one who can be identified, directly or indirectly, by reference to an identifier such as a name,
    an identification number, location data, an online identifier or to one or more factors specific to the physical,
    physiological, genetic, mental, economic, cultural or social identity of that natural person ("Personal
    Information").
</p>
<p>
    [Com.mp Registry] may collect the following Personal Information from you: name, address, date of birth,
    telephone number, postal address, e-mail address, IP address, information about the type of browser you use, your
    operating system, the screen resolution of your browser, your ISP, which pages you view on the Website and the time
    and duration of your visits to the Website, credit card number (in the case of direct customers) and, if applicable,
    company name, postal address, telephone number, e-mail address, national identification number, passport number,
    credit card number or tax ID number as well as similar information concerning technical contacts, marketing
    contacts, and executive contacts within your company or organisation.
</p>
<h4>User Communications.</h4>
<p>
    If you communicate with [Com.mp] Registry, [Com.mp Registry] may collect information
    relating to that communication whether it takes the form of e-mail, letter, forum posting, testimonials or any other
    form of communication between you and [Com.mp Registry] or submitted by you to the Website
    (collectively, "User Communications").
</p>
<h4>Server Information.</h4>
<p>
    If you use one of [Com.mp Registry]'s services such as [Com.mp Registry]'s Web Hosting,
    Dedicated Server, VPS, Domain Name or SSL, [Com.mp Registry] may collect certain information concerning
    such services and concerning the server upon which the services operates. This information includes without
    limitation: (a) the licensed or unlicensed status of the software used under the services; (b) the source from which
    the license for the software was obtained (i.e., [Com.mp Registry] or an [Com.mp Registry
    ] affiliate); or (c) information about the server upon which the software is installed including (i) the public IP
    address, (ii) the operating system and (iii) the use of any virtualization technologies on such server ((a) through
    (c) collectively, "Server Information")). Additionally, "Server Information" may also include information collected
    by [Com.mp Registry] from time to time concerning which features of the software are most often used in
    order to improve and make adjustments to the software; and information collected from you by [Com.mp Registry] in
    the event that you request technical support services including without limitation, IP addresses,
    usernames and passwords necessary to login to SSH, the directory of the server upon which you installed the software
    and any affected accounts including email accounts, MySQL accounts and other accounts.
</p>
<h4>Non-Personal Information.</h4>
<p>
    [Com.mp Registry] also collects data in a form that does not, on its own, permit direct association with
    any specific individual. [Com.mp Registry] may collect, use, transfer, and disclose non-personal
    information for any purpose.
</p>
<br>
<h2>What information does [Com.mp Registry] collect if you're under the age of 13?</h2>
<p>
    By Default, [Com.mp Registry] does not knowingly collect Personal Information about children under the
    age of 13. If [Com.mp Registry] becomes aware that it has inadvertently collected Personal Information
    about children under the age of 13, it will take steps to delete the information as soon as possible, except where
    [Com.mp Registry] is required by applicable law to keep it.
</p>
<p>
    Where [Com.mp Registry] knows a child is above the age of 13, but considered a minor under applicable
    law, [Com.mp Registry] will obtain parental/guardian consent prior to using that child's Personal
    Information.
</p>
<br>
<h2>How does [Com.mp Registry] use and store the information it collects?</h2>
<p>
    As a general matter, [Com.mp Registry] may use the Personal Information you disclose to [Com.mp Registry] to improve
    and provide the Website, the Services and [Com.mp Registry]'s other
    products and services, and for the specific purpose that you gave [Com.mp Registry] your Personal
    Information. More specific details on how [Com.mp Registry] uses your information follows below.
</p>
<p>
    [Com.mp Registry] may use Personal Information to create and authenticate your account, to process
    transactions you request such as domain name registration in order to perform any transaction you have entered into
    with [Com.mp] Registry, to provide you with customer and technical support and to communicate with you
    about your account and [Com.mp Registry]'s products and services.
</p>
<p>
    The Personal Information you provide to [Com.mp Registry] allows [Com.mp Registry] to
    provide you with the newsletters and mailing lists that you have signed up for with [Com.mp] Registry.
    If you do not want to be on [Com.mp Registry]'s mailing list, you can opt out at any time by changing
    your settings in your 'My Details' page within the client area.
</p>
<p>
    [Com.mp Registry] may also use Personal Information to offer, market or advertise to you [Com.mp Registry] products
    and services. While such [Com.mp Registry] products and services may
    reference, incorporate or include third-party products and services, [Com.mp Registry] will not use your
    Personal Information to independently offer, market or advertise third-party products and services unless [Com.mp
    Registry] first obtains your consent to do so.
</p>
<p>
    From time to time, [Com.mp Registry] may use your Personal Information to send important notices, such
    as important product updates and communications about purchases as well as changes to [Com.mp Registry]'s terms,
    conditions, and policies. Because this information is important for your interaction with [Com.mp Registry] you may
    not opt out of receiving these communications.
</p>
<p>
    [Com.mp Registry] may also use your Personal Information for any other legal purpose stated in this
    Privacy Policy, and any other purpose for which you have given [Com.mp Registry] express consent.
</p>
<p>
    Where you consent to [Com.mp Registry] doing so, [Com.mp Registry] may use your Personal
    Information to send you direct marketing communications. Should you ever choose to 'opt out' of receiving such
    communications, [Com.mp Registry] may retain your Personal Information on file to ensure that [Com.mp Registry] does
    not continue to target you with communications of the type that you have asked [Com.mp Registry] to cease sending to
    you.
</p>
<p>
    [Com.mp Registry] limits the use of Personal Information to the purposes identified in this Privacy
    Policy and for which you have provided explicit consent. In accordance with established policies and procedures,
    [Com.mp Registry] retains Personal Information only for as long as necessary to fulfil the stated
    purposes, unless it is required by law for a different period or [Com.mp Registry] has the consent of
    the individual.
</p>
<p>
    In accordance with established policies and procedures, [Com.mp Registry] will periodically destroy or
    erase any Personal Information that is no longer needed.
</p>
<p>
    [Com.mp Registry] may use User Communications in the same way as [Com.mp Registry] uses
    Personal Information. If you communicate with [Com.mp Registry] for a particular purpose, [Com.mp Registry] may use
    your User Communications for that purpose. For example, if you contact [Com.mp Registry] for technical support,
    [Com.mp Registry] may use your communications to provide
    technical support to you.
</p>
<p>
    [Com.mp Registry] may use Server Information to provide you with technical support services and to
    maintain, evaluate, improve and provide [Com.mp Registry] products and services. [Com.mp Registry] may also use such
    information to investigate unlicensed (and therefore unauthorised) uses of [Com.mp Registry]'s software.
</p>
<br>
<h2>Where is your Personal Information stored?</h2>
<p>
    Your peronal data may be transferred to and stored at our office and associated datacenters and by
    accepting our terms of service, you are explicitly consenting to this transfer and storage taking place. We will
    take all steps reasonably necessary to ensure that your personal information is treated securely and in accordance
    with this privacy policy.
</p>
<br>
<h2>How does [Com.mp Registry] protect your Data Security?</h2>
<p>
    Your peronal data may be transferred to and stored at our office and associated datacenters and by
    accepting our terms of service, you are explicitly consenting to this transfer and storage taking place. We will
    take all steps reasonably necessary to ensure that your personal information is treated securely and in accordance
    with this privacy policy.
</p>
<br>
<h2>How can I modify my personal information?</h2>
<p>
    You may modify your personal information by creating a Support ticket to make the request or update from the Domain
    Registration Client Area System.
</p>
<p>
    If you have registered a domain name with [Com.mp Registry] and wish to change the any Contact Details
    to another company or change any other registration information, you should create a Support ticket and provide the
    information to be changed.
</p>
<p>
    [Com.mp Registry] provides you with full access to your domain account by sending you your own username
    and password. It is important to note that your domain name registration information is made publicly available in
    the registry of domain names. In the event you lose your domain password, you can create a Support ticket and we
    will re-send the password to the email address on the domain registration record. In the event you lose your
    password and the email address on record with Domain Registrar is no longer valid, a direct request to Domain
    Registrar is required, therefore it is important to keep your Domain Registrar email address current as well as your
    email address with [Com.mp] Registry.
</p>
<br>
<h2>Will [Com.mp Registry] Ever Send Me Direct Mailings?</h2>
<p>
    From time to time, [Com.mp Registry] may send you information about various products and services that
    may be of interest. We will not send you information of this type without specifically allowing you to "opt out" of
    such mailings. You can opt out by sending an e-mail to legal@registry.com.mp, however by doing so, you
    may miss important communication regarding your service.
</p>
<p>
    In addition, if you are an [Com.mp Registry] reseller, [Com.mp Registry] and/or its partners
    and advertisers may from time to time send you newsletters, promotional material, and other mailings. You can opt
    out by sending an e-mail to legal@registry.com.mp.
</p>
<br>
<h2>How Do I Protect My Personal Information In Public Forums?</h2>
<p>
    [Com.mp Registry] may offer interactive forums, such as message boards and chat. You should be aware
    that when you voluntarily disclose Personal Information to other users or to third parties on the [Com.mp Registry]
    system, through e-mail, or outside of the [Com.mp Registry] system, that
    information can be collected and used by others and may result in unsolicited messages from other members or third
    parties. While [Com.mp Registry] strives to protect your Personal Information, [Com.mp Registry] cannot guarantee
    the security of any information that you transmit to [Com.mp] Registry, and
    you are solely responsible for maintaining the secrecy of any passwords or other account information.
</p>
<br>
<h2>Information and access to your Personal Information</h2>
<p>
    Based on what you have told [Com.mp] Registry, [Com.mp Registry] tries to ensure that your
    contact information and preferences are accurate, complete, and up to date. You have the right to request access to
    and rectification or erasure of Personal Information or restriction of processing concerning your Personal
    Information or to object to processing as well as the right to data portability. [Com.mp Registry] will
    comply with erasure requests as long as [Com.mp Registry] is not required to retain the Personal
    Information by law and does not need to retain it for its legitimate business purposes. [Com.mp Registry] may
    decline to process requests that are frivolous/vexatious, jeopardise the privacy of others, are
    extremely impractical, or for which access is not otherwise required by local law. Access, correction, or deletion
    requests can be made by emailing legal@registry.com.mp.
</p>
<br>
<h2>Your Rights</h2>
<p>
    As a Data Subject you have a number of rights in relation to your Personal Information. These include your rights:
</p>
<p>
    To ask [Com.mp Registry] to confirm what (if any) Personal Information [Com.mp Registry
    ] holds relating to you and how that data is processed and used by [Com.mp Registry ](often referred to as
    a 'Subject Access Request');
</p>
<p>
    To have [Com.mp Registry] rectify Personal Information which [Com.mp Registry] holds about
    you that is inaccurate;
</p>
<p>
    To have [Com.mp Registry] erase Personal Information which relates to you if it is no longer necessary
    for [Com.mp Registry] to continue to process it, or if [Com.mp Registry] has no lawful basis
    to store, process or retain it (though [Com.mp Registry] does have rights to refuse these requests in
    certain situations);
</p>
<p>
    To object to [Com.mp Registry] processing your Personal Information;
</p>
<p>
    To be informed about the existence of any automated decision making and profiling of your Personal Information, and
    where appropriate, be provided with meaningful information about the logic involved, as well as the significance and
    the envisaged consequences of such processing that affects you;
</p>
<p>
    To have [Com.mp Registry] provide you with a copy of your Personal Information for transfer to an
    alternative provider of similar services.
</p>
<p>
    Should you ever wish to exercise one or more of these rights you should contact [Com.mp Registry] at
    legal@registry.com.mp.
</p>
<br>
<h2>Third party websites</h2>
<p>
    [Com.mp Registry] Website may, from time to time, contain links to and from the websites of [Com.mp Registry]
    partner networks, advertisers and affiliates. If you follow a link to any of these websites,
    please note that these websites have their own privacy policies and that [Com.mp Registry] does not
    accept any responsibility or liability for these policies. Please check these policies before you submit any
    Personal Information to these websites.
</p>
<br>
<h2>Does [Com.mp Registry] use cookies and web beacons?</h2>
<h4>Cookies</h4>
<p>
    Yes, [Com.mp Registry] uses cookies to distinguish you from other users of the Website and to improve
    your overall experience. When you use the Website, certain information may be stored locally on your device using
    'cookies' or similar technologies such as objects stored in the device's local storage. A cookie is a small text
    file used to store limited information about the user of the device. They help [Com.mp Registry] to
    identify how [Com.mp Registry]'s users use the Website, and so that [Com.mp Registry] can
    continue to develop and improve it.
</p>
<p>
    Cookies do this by storing information about your preferences on your device, including the device model,
    manufacturer, screen resolution, device capabilities, service provider, country and city location data. [Com.mp
    Registry] uses the following types of cookies:
</p>
<p>
    Strictly necessary: These cookies enable [Com.mp Registry]'s Website to function correctly and deliver
    the services and products you have requested.
</p>
<p>
    Performance &amp; Functionality: These cookies are used to enhance the performance and functionality of [Com.mp
    Registry]'s Website but are non-essential to their use (for example, [Com.mp Registry] uses
    cookies to remember your preferences on the Website). However, without these cookies, certain functionality may
    become unavailable.
</p>
<p>
    Analytical: These cookies collect information that is used either in aggregate form to help [Com.mp Registry]
    understand how the Website is being used or to help [Com.mp Registry] customise the Website
    for you. In particular [Com.mp Registry] uses the Google analytics cookies. For more information about
    Google's privacy policy, please visit https://www.google.com/intl/en/policies/. If you do not wish to allow the use
    of Google Analytics cookies at all, Google provides an opt-out plug-in for most common website browsers
    https://tools.google.com/dlpage/gaoptout.
</p>
<p>
    By using the Service, you accept the use of cookies in accordance with this Privacy Policy.
</p>
<h4>Your cookie choices</h4>
<p>
    You have the right to choose whether to accept or refuse cookies and similar technologies. You can exercise this
    choice by not accepting the Terms of Service and this Privacy Policy, however, please note that if you choose to do
    so, you will not be able to use the Service.
</p>
<p>
    For more information about what cookies are and your rights to control cookies, please visit the third party
    educational resource www.allaboutcookies.org.
</p>
<br>
<h2>What About Privacy On Sites That [Com.mp Registry] Links To?</h2>
<p>
    [Com.mp Registry] may provide links to its partners and other Internet sites. These sites have separate
    data and privacy practices independent of [Com.mp] Registry, and [Com.mp Registry] disclaims
    any responsibility or liability for their policies or actions.
</p>
<br>
<h2>How does [Com.mp Registry] disclose the Personal Information it collects?</h2>
<p>
    [Com.mp Registry] will not otherwise disclose its customers' personal and account information unless
    [Com.mp Registry] has reason to believe that disclosing such information is necessary to identify, make
    contact with, or bring legal action against someone who may be causing harm or interfering with the rights or
    property of [Com.mp] Registry, [Com.mp Registry] customers, or others, or where [Com.mp Registry] has a good faith
    belief that the law requires such disclosure.
</p>
<p>
    [Com.mp Registry] cannot be responsible for protecting your Personal Information if you share such
    information in publicly available sections of the Website such as the user forums or testimonials section. You
    should use your own judgment in disclosing this information on the Website.
</p>
<p>
    [Com.mp Registry] also will not, except for reasons stated below, disclose to third parties the contents
    of any electronic mail or other electronic communications that [Com.mp Registry] stores or transmits for
    its customers. The circumstances under which [Com.mp Registry] will disclose such electronic customer
    communications are when:
</p>
<ul>
    <li>it is necessary in order to provide service to the customer;</li>
    <li>it is necessary to protect the legitimate interests of [Com.mp Registry] and its customers;</li>
    <li>it is required to cooperate with interception orders, warrants, or other legal process that [Com.mp Registry]
        determines in its sole discretion to be valid and enforceable; and</li>
    <li>it is necessary to provide to a law enforcement agency when the contents are inadvertently obtained by [Com.mp
        Registry] and appear to pertain to the commission of a crime.</li>
</ul>
<p>
    [Com.mp Registry] disclaims any intention to censor, edit or engage in ongoing review or surveillance of
    communications stored on or transmitted through its facilities by customers or others. [Com.mp Registry
    ] will, however, review, delete or block access to communications that may harm [Com.mp] Registry, its
    customers or third parties. The grounds on which [Com.mp Registry] may take such action include, but are
    not limited to, actual or potential violations of [Com.mp Registry] policies.
</p>
<p>
    In the event that [Com.mp Registry] is purchased by another company, merges with another company or has
    a substantial portion of its assets purchased by another company, [Com.mp Registry] may share your
    Personal Information with that company. In such an event, [Com.mp Registry] will notify you in
    accordance with the notice provisions of the Terms of Use.
</p>
<p>
    [Com.mp Registry] may disclose your Personal Information to affiliated third parties and third party
    suppliers or service providers that assist [Com.mp Registry] in providing, maintaining, valuating, and
    improving the Website, the Services and any other [Com.mp Registry] products and services. [Com.mp Registry] may
    disclose your Personal Information to affiliated third parties for the purposes of
    offering, marketing or advertising [Com.mp Registry] products and services to you (such [Com.mp Registry] products
    and services may reference, incorporate or include third-party products and
    services). In such an event, [Com.mp Registry] will take reasonable measures to prevent such affiliated
    third parties from using your Personal Information for other purposes.
</p>
<br>
<h2>Question about this Privacy Policy?</h2>
<p>
    With effect from 25 May 2018, the General Data Protection Regulation (GDPR) enters force. Your rights under that new
    regulation are explained at https://ico.org.uk/for-organisations/data-protection-reform/overview-of-the-gdpr/.
    Details of how you can exercise those rights are set out in 'Your Rights'. [Com.mp Registry] have
    largely factored GDPR into this Privacy Policy but if you think [Com.mp Registry] has failed to do so in
    any way, please notify [Com.mp Registry] at gdpr@registry.com.mp.
</p>
<br>
</main>
%%FOOTER%%
