%%HEADER%%

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis swanky-and-moo-moo-regular">Get your <span class="hurricane-regular"
            style="font-weight: bold;">Com.Mp</span> for FREE!</h1>
    <div class="mx-auto">
        <p class="lead mb-4" style="font-family: serif;">
            We offer you low-cost, easy, and powerful domain name service!
            We're happy to serve any user wants domain for cheap! So we're
            willing to offer your first one for <span class="swanky-and-moo-moo-regular">FREE</span> ($0.00)! And
            we guarantee here, no any additional charges in the future!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a href="/whois-lookup" class="btn btn-primary btn-lg px-4 me-sm-3 swanky-and-moo-moo-regular">Register a
                <span class="hurricane-regular" style="font-weight: bold;">Com.Mp</span>
            </a>
            <a href="/dashboard" class="btn btn-outline-secondary btn-lg px-4 swanky-and-moo-moo-regular">Manage my
                <span class="hurricane-regular" style="font-weight: bold;">Com.Mp</span>
            </a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="https://pub-48a8aae8385f40509fc8734a414ccf4c.r2.dev/856043-65969-tfhaftzasj-1502982079.jpg"
                class="img-fluid mb-4" alt="Example image" width="700" height="368" loading="lazy"
                style="background: rgba(4, 155, 222, 0.25);">
        </div>
    </div>
</div>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bold text-body-emphasis swanky-and-moo-moo-regular">Pricing</h1>
    <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential
        customers with this Bootstrap example. It’s built with default Bootstrap components and utilities
        with little customization.</p>
</div>
</header>

<main>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal swanky-and-moo-moo-regular">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title swanky-and-moo-moo-regular">$0<small
                            class="text-body-secondary fw-light" style="font-size: 16px;">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Limited-domain allowed</li>
                        <li>3rd-party DNS Server only</li>
                        <li>Ticket support</li>
                        <li>Help center access</li>
                        <li>Renews in 50 days before expiring</li>
                    </ul>
                    <a href="/whois-lookup"
                        class="w-100 btn btn-lg btn-outline-primary swanky-and-moo-moo-regular">Register a <span
                            class="hurricane-regular" style="font-weight: bold;">Com.Mp</span> for FREE</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal swanky-and-moo-moo-regular">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title swanky-and-moo-moo-regular">$0.99<small
                            class="text-body-secondary fw-light" style="font-size: 16px;">/year per <span
                                class="hurricane-regular" style="font-weight: bold;">Com.Mp</span></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Multi-domains allowed<span style="font-size: 12px;">(Pay as you go &amp; Deposit
                                required)</span></li>
                        <li>3rd-party DNS Server + Managed DNS</li>
                        <li>Ticket/Livechat support</li>
                        <li>Help center access</li>
                        <li>Renews automatically<span style="font-size: 12px">(Deposit required)</span></li>
                    </ul>
                    <a href="/dashboard/pro-access"
                        class="w-100 btn btn-lg btn-primary swanky-and-moo-moo-regular">Enable my eligibility</a>
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center display-4 fw-bold text-body-emphasis swanky-and-moo-moo-regular">Compare plans</h1>

    <div class="table-responsive">
        <table class="table text-center">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th style="width: 33%;" class="swanky-and-moo-moo-regular">Free</th>
                    <th style="width: 33%;" class="swanky-and-moo-moo-regular">Enterprise</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">3rd party DNS</th>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                    <td>
                        <svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg>
                    </td>
                </tr>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">Multiple Domains allowed</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">Teams</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">Permissions ACL</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">Sharing</th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start swanky-and-moo-moo-regular">Managed DNS </th>
                    <td></td>
                    <td><svg class="bi" width="24" height="24">
                            <use xlink:href="#check"></use>
                        </svg></td>
                </tr>
            </tbody>
        </table>
    </div>
</main>

%%FOOTER%%