<html>

<head></head>

<body>
    <div style="background: #e2e8f0;padding: 50px;">
        <div style="border-radius: 6px; border-collapse: separate !important; max-width: 700px; border: 1px solid #e2e8f0; margin: auto; background: #fff;">
            <div style="box-sizing: border-box; line-height:24px;width:100%;margin:0;padding: 40px;">
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; text-align: center;"><img src="https://pub-48a8aae8385f40509fc8734a414ccf4c.r2.dev/commp-registry-logo.png" style="width: 30%;" /></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">Hello %%EMAIL%%,</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;"><br/></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">This is an activation email for your registry.com.mp account!</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">Click the link below to activate your account within 24 hours before it gets expired:</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; color: #000;height: 50px;line-height: 50px;"><a href="%%ACTIVATION_LINK%%" style="color: #ffffff; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; font-weight: 700 !important; white-space: nowrap; background-color: #0d6efd; padding: 12px; border: 1px solid #0d6efd;">Activate</a></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;"><br/></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">If you did not request this email, please ignore it.</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">Thank you,</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">The registry.com.mp Team</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;"><br/></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;"><br/></p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">If your inbox didn't render the activation link correctly, please copy the link below to browser to activate:</p>
                <p style="margin-block-start: 0.5em; margin-block-end: 0.5em; line-height: 14px; color: #000;">
                    %%ACTIVATION_LINK%%
                </p>
            </div>
        </div>
    </div>
</body>

</html>